{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <meta name="description" content="Blog app">
        <meta name="keywords" content="blog, app, django, python">
        <title>Blog | {{ title }}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
              rel="stylesheet"
              type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}"
              rel="stylesheet"
              type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}"
              rel="stylesheet"
              type="text/css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'blog-home' %}">Blog</a>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link {% if page == 'home' %}active{% endif %}"
                                   aria-current="page"
                                   href="{% url 'blog-home' %}">
                                    <i class="fa-solid fa-house"></i>
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if page == 'about' %}active{% endif %}"
                                   href="{% url 'about' %}">
                                    <i class="fa-solid fa-users"></i>
                                    About
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if page == 'posts' %}active{% endif %}"
                                   href="{% url 'posts' %}">
                                    <i class="fa-solid fa-book"></i>
                                    Posts
                                </a>
                            </li>
                            {% if request.user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle {% if page == 'profile' or page == 'my-posts' %}active{% endif %}"
                                       href="#"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        <i class="fa-solid fa-user"></i>
                                        {{ request.user.username }}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               href="{% url 'user-posts' username=request.user.username.lower %}">My Posts</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-danger" href="{% url 'logout' %}">
                                                <i class="fa-solid fa-right-from-bracket"></i>
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link text-primary {% if page == 'login' %}active{% endif %}"
                                       href="{% url 'login' %}">
                                        <i class="fa-solid fa-user"></i>
                                        Login
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {% if messages %}
            {% for message in messages %}
                <div>
                    <div class=" alert alert-dismissible fade show  {% if message.tags == 'error' %}alert-danger {% else %} alert-{{ message.tags }} {% endif %} "
                         role="alert">
                        {{ message }}
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </body>
</html>
