{% extends "base.html" %}
{% block content %}
    <div class="p-5 d-flex justify-content-center">
        <div class="card p-5">
            <h2 class="text-center mb-2">{{ title }}</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                {% comment %} {{ form.as_p }} {% endcomment %}
                {% for field in form %}
                    <fieldset class="form-group">
                        <label for="id_{{ field.name }}" class="control-label">{{ field.label }}</label>
                        <div class="py-2">{{ field }}</div>
                    </fieldset>
                {% endfor %}
                {% if id %}
                    <input class="btn btn-primary mt-2" type="submit" value="Save">
                {% else %}
                    <input class="btn btn-primary mt-2" type="submit" value="Register">
                {% endif %}
            </form>
            {% if id %}
                <div>
                    <a href="{% url 'profile' %}">Profile</a>
                </div>
            {% else %}
                <div class="mt-5 alert alert-primary">
                    Already have an account?
                    <br>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
